{# Load CSS #}
{% do view.registerCssFile("/css/pages/contact.css") %}


{% extends "_layout" %}

{% block content %}

<section id="contact">
    <div class="content">

        <div class="heading">
            <h1 class="display">Contact</h1>
            <div class="div small"></div>
            <h5>Dusty Times HQ</h5>
            <p>15500 Cornet St<br>Santa Fe Springs, CA 90221</p>
            <br>
            <h5>Advertising & Partnerships</h5>
            <p><a href="mailto:info@dustytimes.com">info@dustytimes.com</a></p>
            <br>
            <h5>Submissions</h5>
            <p><a href="mailto:submissions@dustytimes.com">submissions@dustytimes.com</a></p>
        </div>
        <div class="body">

            <p>Send over your questions, comments or other feedback. We try and deliver content you want the best we know how. So let us know how we're doing!</p>
            <div class="div small"></div>

            {% if craft.app.session.hasFlash('notice') %}
                <p class="message notice">{{ craft.app.session.getFlash('notice') }}</p>
            {% elseif craft.app.session.hasFlash('error') %}
                <p class="message error">{{ craft.app.session.getFlash('error') }}</p>
            {% endif %}



            {% macro errorList(errors) %}
                {% if errors %}
                    <ul class="errors">
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endmacro %}

            {% from _self import errorList %}

            <form method="post" action="" accept-charset="UTF-8">
                {{ csrfInput() }}
                <input type="hidden" name="action" value="contact-form/send">
                {{ redirectInput('pages/contact') }}

                <div id="contact-form">

                    <div class="input-name">
                        <p><label for="from-name">Your Name</label></p>
                        <input id="from-name" type="text" name="fromName" class="form-input" value="{{ message.fromName ?? '' }}">
                        {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
                    </div>
                    <div class="input-email">
                        <p><label for="from-email">Your Email*</label></p>
                        <input id="from-email" type="email" name="fromEmail" class="form-input" value="{{ message.fromEmail ?? '' }}">
                        {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
                    </div>




                    <div class="input-subject">
                        <p><label for="subject">Subject</label></p>
                        <input id="subject" type="text" name="subject" class="form-input" value="{{ message.subject ?? '' }}">
                        {{ message is defined and message ? errorList(message.getErrors('subject')) }}
                    </div>



                    <div class="input-message">
                        <p><label for="message">Message*</label></p>
                        <textarea rows="10" cols="40" id="message" name="message" class="form-message">{{ message.message ?? '' }}</textarea>
                        {{ message is defined and message ? errorList(message.getErrors('message')) }}
                    </div>

                    <p class="caption">*Required Fields</p>

                    <input type="submit" value="Send" class="button">

                </div>

            </form>



        </div>

    </div>
</section>

{% endblock %}

{% do view.registerJsFile("/js/app.js") %}
