@import "util/variables";
@import "util/type";

body {
    background:$background;
    color:$foreground;
    &.no-scroll {
        overflow: hidden;
    }
}

.button, button {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width:100%;
    padding:1rem;
    background: $foreground;
    color: $background;
    border-radius: 2px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight:bold;
    font-size:0.8rem;
    text-transform: uppercase;
    letter-spacing:2px;
    transition:background 0.3s;
    &:hover {
        background:lighten($foreground, 10);
    }
    &.inline {
        width:auto;
    }
    &.invert {
        background:$background;
        color:$foreground;
        &:hover {
            background:darken($background, 10);
        }
    }
}



.div {
    position:relative;
    display:block;
    height:1px;
    background:$foreground;
    margin:2rem 0;
    &.small {
        width:50px;
    }
    &.full {
        width:100%;
    }
}

section {
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content {
        position:relative;
        display:flex;
    }
    &#footer {
        .content {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            width:90vw;
            margin:8rem 0 2rem 0;
            padding-top:2rem;
            border-top:1px solid rgba($foreground, 0.25);
            .social {
                a {
                    margin-right:1rem;
                    img {
                        opacity:0.8;
                        transition:opacity 0.3s;
                    }
                    &:hover {
                        img {
                            opacity:1;
                        }
                    }
                }
            }
        }
    }
}
