@import "util/variables";
@import "util/type";

section {
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content {
        position:relative;
        display:flex;
    }
    &#header {
        background:$background;
        margin-bottom:2rem;
        .content {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width:90vw;
            box-sizing: border-box;
            padding:2rem 0;
            .main-logo {
                position:relative;
                display:block;
                width:40vw;
                max-width:150px;
                z-index:5;
                fill:$foreground;
            }
            .menu {
                position:fixed;
                display:flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                top:calc(26px + 2rem);
                left:0;
                width:100vw;
                height:0;
                background:$background;
                color:$foreground;
                box-sizing: border-box;
                overflow:hidden;
                z-index:4;
                list-style: none;
                a {
                    position:relative;
                    display:inline;
                    color:$foreground;
                    text-decoration: none;
                    &:first-child {
                        margin-top:2rem;
                    }
                    li {
                        list-style: none;
                        font-size:0.8rem;
                        line-height:4rem;
                        text-transform: uppercase;
                        letter-spacing:2px;
                        font-weight:bold;
                        border-bottom:1px solid rgba($foreground, 0.05);
                        width:80vw;
                    }
                }
                @media only screen and (max-width: 700px) {
                    transition:height 0.3s;
                    &.open {
                        height:100vh;
                    }
                }
            }
            .menu-handle {
                position:relative;
                display:flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: stretch;
                width:26px;
                height:26px;
                z-index:5;
                .line {
                    width:100%;
                    height:3px;
                    background:$foreground;
                    border-radius:2px;
                    transition:all 0.1s;
                    transform-origin: 50% 50%;
                }
                &.open {
                    .line.top {
                        transform:rotate(45deg) translate(6px, 6px);
                    }
                    .line.bottom {
                        transform:rotate(-45deg) translate(6px, -6px);
                    }
                    .line.middle {
                        transform:scaleX(0);
                    }
                }
            }
            @media only screen and (min-width: 700px) {
                .menu-handle {
                    display:none;
                }
                .menu {
                    position:relative;
                    flex-direction: row;
                    top:0;
                    left:0;
                    height:auto;
                    width:auto;
                    margin:0;
                    a {
                        margin-right:3vw;
                        &:first-child {
                            margin-top:0;
                        }
                        &:last-child {
                            margin-right:0;
                        }
                        li {
                            width:auto;
                            border-bottom:none;
                        }
                    }
                }
            }
        }
        &.invert {
            margin-bottom:0;
            background:none;
            border-bottom:1px solid rgba($background, 0.2);
            z-index:10;
            @media only screen and (min-width: 700px) {
                position:absolute;
                left:5vw;
                color:$background;
                .content {
                    .main-logo {
                        fill:$background;
                    }
                    .menu {
                        background:none;
                        a {
                            color:$background;
                        }
                        &.open {
                            a {
                                color:$foreground;
                            }
                        }
                    }
                }
                .menu-handle {
                    .line {
                        background:$background;
                        transition:all 0.3s;
                    }
                    &.open {
                        .line {
                            background:$foreground;
                        }
                    }
                }
            }
        }
        &.open {
            position:fixed;
        }
    }
}
