{# Load CSS #}
{% do view.registerCssFile("/css/pages/home.css") %}


{% extends "_layout-home" %}

{% block content %}

<section class="hero-banner issue01">
    <div class="content">
        <h4>Issue 01</h4>
        <h1 class="display">Energizing An Institution</h1>
        <p>The inagural issue of the new Dusty Times magazine. With off-road content from contributors like Sal Fish, Rory Ward, Darren Skilton, and Troy Lee</p>
        <a href="/shop/issue-01" class="button inline invert">Buy Now</a>
    </div>
</section>


{% endblock %}

{% do view.registerJsFile("/js/app.js") %}
