{% do view.registerCssFile("/css/components/nav.css") %}
{% block content %}

<section id="header"{% if invert %} class="invert"{% endif %}>
    <div class="content">
        <a href="/"><img src="/images/dt-logo-black.svg" class="main-logo"></a>
        <div class="menu-handle">
            <div class="line top"></div>
            <div class="line middle"></div>
            <div class="line bottom"></div>
        </div>
        <ul class="menu">
            <a href="/"><li>Home</li></a>
            <a href="/shop/issue-01"><li>Issue 01</li></a>
            <a href="/about"><li>About</li></a>
            <a href="/contact"><li>Contact</li></a>
        </ul>
    </div>
</section>

{% endblock %}
