@import "util/variables";
@import "util/fonts";

body {
    font-family:Arial, sans-serif;
}

a {
    color:$primary;
}

.center {
    text-align:center;
    p {
        margin:auto;
    }
}

h1 {
    font-family: 'EksellMedium', serif;
    font-size:2rem;
    margin-bottom:2rem;
    &.display {
        font-family: 'EksellLarge', serif;
        font-size:3rem;
        @media only screen and (min-width: 600px) {
            font-size:4rem;
        }
    }
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size:1.5rem;
    margin-bottom:2rem;
}

h4 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing:2px;
    font-size: 0.9rem;
    margin-bottom:1rem;
}

h5 {
    font-weight:bold;
    margin-bottom:0.5rem;
}

.color-primary {
    color:$primary;
}

p {
    font-family:Arial, sans-serif;
    margin-bottom:1rem;
    font-size:0.9rem;
    letter-spacing:1px;
    line-height:1.5rem;
    width:100%;
    max-width:700px;
    &.caption {
        font-size:0.7rem;
        color:lighten($foreground, 0.75);
    }
}

.justified-block {
    p {
        text-align: justify;
        text-justify: inter-word;
        &.center {
            text-align:center;
        }
    }
}

ul {
    font-family:Arial, sans-serif;
    font-size:0.9rem;
    letter-spacing:1px;
    line-height:1.5rem;
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom:2rem;
    li {
        display: list-item;
        list-style-type: disc;
    }
}
